.navButton {
  min-width: 60px;

  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid rgba(105, 105, 221, 0.75);

  color: inherit;
  text-decoration: none;
  text-transform: lowercase;
  font-family: inherit;
  font-size: inherit;

  background-color: white;
}